.fa {
    position: absolute;
    color: grey;
    margin-left: -29px;
    padding-top: 13px;
}
.or-container{
    align-items: center;
    display: flex;
    margin: 10px 0;
    width: 75%;
    color: #222327;
}
.line-separator{
    background-color: #f1f1f1;
    height: 1px;
    flex-grow: 5;
}
.or-label{
    flex-grow: 1;
    text-align: center;
}
.text-muted  {
    padding-right: 29%;
}
.check{
    text-decoration: none;
    color: black;
}
.check1{
    text-decoration: none;
    color: black;
}
h1,p{
    padding-left:10px ;
}
#loginform{
    padding-left: 10px;
}
 
@media (min-width:992px){
    #loginform {
        max-width: 570px;
    }
}